/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app{
  padding: 20px;
}
header{
  display: grid;
  grid-auto-flow: column;
}
.header-list{
  display: grid;
  grid-auto-flow: column;
}

.header-list-item{
  list-style: none;
}


main{
  
}

.main-nav{
  
}
.main-list{
  display: grid;
  grid-template-columns: auto auto auto;
  
  
}
.main-list-item{
  list-style: none;
  outline: 1px solid black;
  
  

}

.image{
  height: 200px;
}