/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app{
  padding: 20px;
  
  
}
header{
  display: grid;
  grid-auto-flow: column;

  
}
.header-list{
  display: grid;
  grid-auto-flow: column;
  
}

.header-list-item{
  list-style: none;
}


main{
  
  
}

.main-nav{
  display: grid;
  
}
.main-list{
  display: grid;
  grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
  grid-gap: 10px;
  place-content: center;
  
  
}
.main-list-item{
  display: grid;
  list-style: none;
  

}


.price-container{
  display: grid;
}


.price{
  text-decoration: line-through;
  color: red;

  
}

.discount{
  font-size: large;
  color: green;

}
.image{
  width: 200px;
  transition: 0.5s;
  

}
.image:hover{
  box-shadow: 0px 0px 30px rgb(255, 2, 2);

  
}


.modal-wrapper{
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.301);
  padding: 2rem;
  display: grid;
  place-content: center;
}

.modal-container{
  background-color: white;
  padding: 2rem 3rem;
  position: relative;
  border-radius: 8px;

}

.modal-close-button{
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  
}

.single-main-list{
  place-content: center;
  display: grid;
  grid-auto-flow: column;
}

.single-main-list-item{
  list-style: none;
}

.bag-product{
  display: grid;
}

.bag-image{
  width: 40px
}

@media screen {
  
}


.user-form{
  display: grid;
}
